:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #14151A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Thin scrollbar */
::-webkit-scrollbar {
  width: 5px;              /* thinner bar */
}

/* Thumb (draggable bar) */
::-webkit-scrollbar-thumb {
  background: #8db5ed;      /* Tailwind gray-600 */
  border-radius: 9999px;
  width: 5px;              /* thinner bar */
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #5e8dde;      /* Tailwind gray-400 */
}

/* Track (background space) */
::-webkit-scrollbar-track {
  background: transparent;  /* no casing */
  margin-top: 3px;         /* space at top */
  margin-bottom: 3px;      /* space at bottom */
  margin-right: 20px;
    width: 5px;              /* thinner bar */

}

.suse-mono-light {
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inconsolata-light {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


